:root {
    --navy: rgb(54, 59, 116);
    --mutedPurp: rgb(103, 56, 136);
    --pink: rgb(239, 79, 145);
    --lav: rgb(199, 157, 215);
    --purp: rgb(77, 27, 123);
}

body {
    background-color: var(--mutedPurp);
}

.container {
    background-color: var(--navy);
    color: var(--pink);
    border-left: solid 2px navy;
    border-right: solid 2px navy;
}

.jumbotron {
    background-color: var(--purp);
    font-family: 'Amatic SC', cursive;
    font-family: 'Monoton', cursive;
    border-left: solid 4px var(--mutedPurp);
    border-right: solid 4px var(--mutedPurp);
}

.gifGen {
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

.cust-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-bottom: solid 3px var(--mutedPurp);
    border-right: solid 2px var(--navy);
    background-color: var(--lav);
    color: var(--navy);
    transition: background-color, 1.25s;
}

.cust-button:hover {
    transition: background-color, .75s;
    background-color: var(--pink);
    color: var(--mutedPurp);
}

@-webkit-keyframes color-change {
    0% {
        color: var(--lav);
    }
    25% {
        color: var(--pink);
    }
    50% {
        color: var(--navy);
    }
    75% {
        color: var(--muted);
    }
    100% {
        color: var(--lav);
    }
}

@-moz-keyframes color-change {
    0% {
        color: var(--lav);
    }
    25% {
        color: var(--pink);
    }
    50% {
        color: var(--navy);
    }
    75% {
        color: var(--muted);
    }
    100% {
        color: var(--lav);
    }
}

@-ms-keyframes color-change {
    0% {
        color: var(--lav);
    }
    25% {
        color: var(--pink);
    }
    50% {
        color: var(--navy);
    }
    75% {
        color: var(--muted);
    }
    100% {
        color: var(--lav);
    }
}

@-o-keyframes color-change {
    0% {
        color: var(--lav);
    }
    25% {
        color: var(--pink);
    }
    50% {
        color: var(--navy);
    }
    75% {
        color: var(--muted);
    }
    100% {
        color: var(--lav);
    }
}

@keyframes color-change {
    0% {
        color: var(--lav);
    }
    25% {
        color: var(--pink);
    }
    50% {
        color: var(--navy);
    }
    75% {
        color: var(--muted);
    }
    100% {
        color: var(--lav);
    }
}

.buttons {
    font-family: 'Amatic SC', cursive;
    background-color: rgb(85, 255, 213)
}

.newGif {
    border: solid 1px var(--pink);
    transition: border, .3s;
}

.newGif:hover {
    transition: border, .5s;
    border: none;
    box-shadow: 5px 15px 15px rgba(199, 157, 215, 0.925);
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}